<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Bookmark.human_attribute_name(:title) %></th>
          <th><%= Site.model_name.human %></th>
          <th><%= Bookmark.human_attribute_name(:url) %></th>
          <th><%= Bookmark.human_attribute_name(:short) %></th>
          <th><%= Bookmark.human_attribute_name(:tags) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bookmarks.each do |bookmark| %>
          <tr>
            <td><%= bookmark.title %></td>
            <td><%= bookmark.site.url %></td>
            <td><%= link_to bookmark.url, bookmark.url, target: '_blank' %></td>
            <td><%= bookmark.short %></td>
            <td>
              <% bookmark.tags.each do |tag| %>
                <%= link_to tag, bookmarks_path(search: tag) %>
              <% end %>
            </td>
            <td>
              <%= link_to t(:edit, scope: 'pages.bookmarks'), edit_bookmark_path(bookmark) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


